:root {
    --main-font: 'Roboto', sans-serif;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --footer-text: #ffffff;
}
body {
 background-color: #ffffff;
 font-family: var(--main-font);
 font-size: 14px;
 color: var(--text-color);
}
.address {
  font-style: normal;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* Header */

.logo-link {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 color: #2196F3;
 }
 .studio-black {
     color: #000000;
 }
 

.novigation-list-item .studio,
.novigation-list-item .portfolio,
.novigation-list-item .contacts,
.header-address-list-link {
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--title-color);
}
.novigation-list-item .active {
    color: var(--accent-color);
}

.header-address-list-link:hover,
.header-address-list-link:focus {
    color: var(--accent-color);
    }

.header-address-list-link {
font-style: normal;
 }
 /* Hero */
 .hero-title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/* color: #FFFFFF; */
 }

 .hero-btn {
 font-family: var(--main-font);
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.88;
 background: #2196F3;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
 }

 /* about-us */

.title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.about-us-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--title-color);
}

.about-us-text {
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* our-work */
.our-work-text {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
/* color: #FFFFFF; */
}

/* team */
.team-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}
.team-text {
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color); 
}
/* regular customers */

/* footer */
.studio-white {
 color: #ffffff;
}

.footer {
    background: #2F303A;
}

.footer-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--footer-text);
}
.footer-address-list-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-address-list-link:hover,
.footer-address-list-link:focus {
color: var(--accent-color);
}

.footer-join {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--footer-text);
}
/* portfolio */
.filter-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
color: var(--title-color)
}
.filter-btn:hover {
color: #ffffff;
background: var(--accent-color);
}
.project {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}
.description {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}
.description-text {
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;

background: var(--accent-color);
}
